<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Storeez - Admin panel</title>
</head>
<body>
<div class="container">

    <main class="main-content" layout:fragment="content">
        <p class="notification-bar" th:if="${notification}" th:text="${notification}">
            Notifications
        </p>
        <h2 class="list-heading">Admin Dashboard</h2>
        <div class="admin-grid">
            <a href="#" th:href="@{/admin/add-clothes}" class="admin-card">
                <i class="fa fa-plus fa-2x"></i>
                <h3>Add Product</h3>
            </a>
            <a href="#" th:href="@{/admin/add-category}" class="admin-card">
                <i class="fa fa-folder-open fa-2x"></i>
                <h3>Add category</h3>
            </a>
            <a href="#" th:href="@{/admin/add-subcategory}" class="admin-card">
                <i class="fa fa-folder-open fa-2x"></i>
                <h3>Add subcategory</h3>
            </a>
            <a href="#" th:href="@{/admin/view-product}" class="admin-card">
                <i class="fa fa-book fa-2x"></i>
                <h3>View products</h3>
            </a>
            <a href="#" th:href="@{/admin/manage-categories}" class="admin-card">
                <i class="fa fa-folder-open fa-2x"></i>
                <h3>Manage categories</h3>
            </a>
            <a href="#" th:href="@{/admin/manage-subcategories}" class="admin-card">
                <i class="fa fa-folder-open fa-2x"></i>
                <h3>Manage subcategories</h3>
            </a>
            <a href="#" th:href="@{/admin/orders}" class="admin-card">
                <i class="fa fa-box fa-2x"></i>
                <h3>Orders</h3>
            </a>
            <a href="#" th:href="@{/admin/user}" class="admin-card">
                <i class="fa-solid fa-user-group fa-2x"></i>
                <h3>Users</h3>
            </a>
            <a href="#" th:href="@{/admin/add-admin}" class="admin-card">
                <i class="fa-solid fa-user-tie fa-2x"></i>
                <h3>Admin</h3>
            </a>
        </div>
    </main>

</div>
</body>
</html>