<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="|Edit category ${category.name}|">Edit category</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <p class="notification-bar" th:if="${notification}" th:text="${notification}">
            Notifications
        </p>
        <h2 class="list-heading" th:text="|Edit category &quot${category.name}&quot|">Edit category</h2>

        <form action="#" th:action="@{/admin/edit-category}" th:object="${category}" method="post" class="form-container">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label for="name">Category name:</label>
                <input type="text" id="name" th:field="*{name}" required/>
            </div>

            <button type="submit" class="btn btn-primary">Update category</button>
        </form>
    </main>
</div>
</body>
</html>