<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${clothes.name + ' ' + clothes.brand}">Storeez - Product XYZ</title>
</head>
<body>
<div class="container">

    <main class="main-content" layout:fragment="content">
        <!-- POJEDYNCZY PRODUKT -->
        <section class="single-product">
            <h2 class="list-heading" th:text="${heading}">Product Details</h2>
            <div class="single-product-detail">
                <img src="../static/img/product1.jpg" alt="Product image" class="single-product-image" th:src="@{/img/product1.jpg}">
                <div class="single-product-info">
                    <h3 class="single-product-name" th:text="${clothes.name + ' ' + clothes.brand}">Hoodie Puma</h3>
                    <p class="single-product-desc">
                        <b>Description:</b> <br>
                        <span th:text="${clothes.description}">Stylowa bluza na każdą okazję. Stylowa bluza na każdą okazję.</span>
                    </p>
                    <p class="single-product-brand">
                        <b>Brand:</b> <br>
                        <span th:text="${clothes.brand}">Under armour</span>
                    </p>
                    <p class="single-product-material">
                        <b>Material:</b> <br>
                        <span th:text="${clothes.material}">Cotton</span>
                    </p>
                    <div class="single-product-meta">
                        <p><b>Status: </b> <span class="single-product-status-available" >Available</span></p>
                        <p><b>Status: </b> <span class="single-product-status-unavailable" >Unavailable</span></p>
                        <p><b>Category: </b>
                            <a class="single-product-category"
                               th:href="@{/category/{category}/{subcategory}(category=${clothes.category}, subcategory=${clothes.subcategory+'s'})}"
                               th:text="${clothes.subcategory}">Sweatshirts</a>
                        </p>
                    </div>
                    <p class="single-product-price">
                        <b>Price: </b> <span class="single-price" th:text="|${clothes.price} zł|">4750.50 zł</span>
                        <span class="single-original-price" >5000.99 zł</span>
                        <span class="single-discount" >5% off</span>
                    </p>
                    <div class="single-product-actions">
                        <label for="quantity">
                            <input id="quantity" type="number" class="single-quantity" min="1" value="1">
                        </label>
                        <button class="single-add-to-cart">Add To Cart</button>
                    </div>
                </div>
            </div>
        </section>

    </main>

</div>
</body>
</html>