<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${clothes.name + ' ' + clothes.brand}">Storeez - Product XYZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#" th:href="@{/}">
                <i class="fa-brands fa-shopify fa-xl"></i> Storeez
            </a>
        </li>
        <li class="menu-toggle">
            <a href="#">
                <i class="fa-solid fa-bars"></i>
            </a>
        </li>
        <li class="menu-item dropdown menu-toggle2">
            <a href="#" class="dropbtn">Clothes <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-content">
                <li class="dropdown-menu-item"><a href="#">T-shirts</a></li>
                <li><a href="#">Sweatshirts</a></li>
                <li><a href="#">Trousers</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#">Books</a>
        </li>
        <li class="menu-item">
            <a href="#">Perfumes</a>
        </li>
        <li class="menu-item">
            <a href="#">Cart</a>
        </li>
        <li class="menu-item">
            <a href="#">Sign in</a>
        </li>
    </ul>

    <header class="jumbo">
        <h1 class="jumbo-header">Storeez</h1>
        <p class="jumbo-description">
            Witamy w naszym sklepie internetowym! <br>Przeglądaj nasze produkty i znajdź coś dla siebie.
        </p>
    </header>

    <main class="main-content">
        <!-- POJEDYNCZY PRODUKT -->
        <section class="single-product">
            <h2 class="list-heading" th:text="${heading}">Product Details</h2>
            <div class="single-product-detail">
                <img src="../static/img/product1.jpg" alt="Product image" class="single-product-image" th:src="@{/img/product1.jpg}">
                <div class="single-product-info">
                    <h3 class="single-product-name" th:text="${clothes.name + ' ' + clothes.brand}">Hoodie Puma</h3>
                    <p class="single-product-desc">
                        <b>Description:</b> <br>
                        <span th:text="${clothes.description}">Stylowa bluza na każdą okazję. Stylowa bluza na każdą okazję.</span>
                    </p>
                    <p class="single-product-brand">
                        <b>Brand:</b> <br>
                        <span th:text="${clothes.brand}">Under armour</span>
                    </p>
                    <p class="single-product-material">
                        <b>Material:</b> <br>
                        <span th:text="${clothes.material}">Cotton</span>
                    </p>
                    <div class="single-product-meta">
                        <p><b>Status: </b> <span class="single-product-status-available" >Available</span></p>
                        <p><b>Status: </b> <span class="single-product-status-unavailable" >Unavailable</span></p>
                        <p><b>Category: </b>
                            <a class="single-product-category"
                               th:href="@{/category/{category}/{subcategory}(category=${clothes.category}, subcategory=${clothes.subcategory})}"
                               th:text="${clothes.subcategory}">Sweatshirts</a>
                        </p>
                    </div>
                    <p class="single-product-price">
                        <b>Price: </b> <span class="single-price" th:text="|${clothes.price} zł|">4750.50 zł</span>
                        <span class="single-original-price" >5000.99 zł</span>
                        <span class="single-discount" >5% off</span>
                    </p>
                    <div class="single-product-actions">
                        <label for="quantity">
                            <input id="quantity" type="number" class="single-quantity" min="1" value="1">
                        </label>
                        <button class="single-add-to-cart">Add To Cart</button>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <!-- STOPKA -->

    <footer class="footer">
        <p>&copy; 2024 Storeez - Michał Skowronek</p>
    </footer>
</div>
</body>
</html>