<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container">

    <main class="main-content" layout:fragment="content">

    <!-- POLECANE PRODUKTY -->
        <section class="featured-products">
            <h2 class="list-heading" th:text="${heading}">Polecane produkty</h2>
            <ul class="product-grid" th:remove="all-but-first">
                <li class="product-item" th:each="cloth: ${clothes}">
                    <img src="../static/img/product1.png"
                         th:src="${cloth.image ne null} ? @{|/img/${cloth.image}|} : @{/img/product1.png}"
                         alt="Bluza"
                         th:alt="${cloth.name + ' image'}"
                         class="image-item">
                    <a href="#" th:href="@{/clothes/{subcategory}/{id}(subcategory=${cloth.subcategory}, id=${cloth.id})}">
                        <h3 class="name-of-item" th:text="${cloth.name+ ' ' +cloth.brand}">Bluza</h3>
                        <p class="product-desc" th:text="${cloth.description}">Stylowa bluza na każdą okazję.Stylowa bluza na każdą okazję.Stylowa bluza na każdą okazję.</p>
                        <p class="product-price" th:text="|${cloth.price}zł|">299zł</p>
                        <button class="add-to-cart">View details</button>
                    </a>
                </li>
                <li class="product-item">
                    <img src="../static/img/product1.jpg" alt="Koszulka" class="image-item">
                    <a href="#">
                        <h3 class="name-of-item">Koszulka</h3>
                        <p class="product-desc">Wygodna koszulka z miękkiego materiału.</p>
                        <p class="product-price">199zł</p>
                        <button class="add-to-cart">View details</button>
                    </a>
                </li>
                <li class="product-item">
                    <img src="../img/product3.jpg" alt="Spodnie" class="image-item">
                    <a href="#">
                        <h3 class="name-of-item">Spodnie</h3>
                        <p class="product-desc">Modne spodnie na każdą okazję1.</p>
                        <p class="product-price">229zł</p>
                        <button class="add-to-cart">View details</button>
                    </a>
                </li>
                <li class="product-item">
                    <img src="../img/product3.jpg" alt="Spodnie" class="image-item">
                    <a href="#">
                        <h3 class="name-of-item">Spodnie</h3>
                        <p class="product-desc">Modne spodnie na każdą okazję2.</p>
                        <p class="product-price">200zł</p>
                        <button class="add-to-cart">View details</button>
                    </a>
                </li>
                <li class="product-item">
                    <img src="../img/product3.jpg" alt="Spodnie" class="image-item">
                    <a href="#">
                        <h3 class="name-of-item">Spodnie</h3>
                        <p class="product-desc">Modne spodnie na każdą okazję3.</p>
                        <p class="product-price">299zł</p>
                        <button class="add-to-cart">View details</button>
                    </a>
                </li>
            </ul>
        </section>
    </main>

</div>
</body>
</html>